<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449417377323-i9kgk32g4h6j3d2ne8e8s0vdc1ans4vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449417377323-i9kgk32g4h6j3d2ne8e8s0vdc1ans4vk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Ug3crm7Q2WBdjXqQKlrpD9eTOU6vT4A</string>
	<key>GCM_SENDER_ID</key>
	<string>449417377323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodProject</string>
	<key>PROJECT_ID</key>
	<string>instagram-riverpod-valdad</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-riverpod-valdad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449417377323:ios:30ba698a7892e4d97b5c6e</string>
</dict>
</plist>